NET "clk"  LOC = P56;

NET "DATA_OUT[3]" LOC =  P75;
NET "DATA_OUT[2]" LOC =  P67;
NET "DATA_OUT[1]" LOC =  P74;
NET "DATA_OUT[0]" LOC =  P66;

NET "DATA_OUT[10]" LOC = P80;
NET "DATA_OUT[9]" LOC =  P79;
NET "DATA_OUT[8]" LOC =  P83;
NET "DATA_OUT[7]" LOC =  P82;
NET "DATA_OUT[6]" LOC =  P81;
NET "DATA_OUT[5]" LOC =  P78;
NET "DATA_OUT[4]" LOC =  P84;

NET "DATA_OUT[14]"  LOC =  P95;
NET "DATA_OUT[13]"  LOC =  P94;
NET "DATA_OUT[12]"  LOC =  P98;
NET "DATA_OUT[11]"  LOC =  P97;

NET "BUT1" LOC =  P17;
NET "BUT2" LOC =  P16;
